@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #FEFAE0;
    color: #987070;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 10%;
    background: #FEFAE0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    z-index: 100;
}

.navbar  {
    margin: 0 auto;
    padding-bottom: auto;
}

.navbar a {
    font-size: 18px;
    color: #987070;
    text-decoration: none;
    font-weight: 500;
    margin-right: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.nav-link {
    color: #E0A75E;
}

.contact-form h2 {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 36px;
}

.contact-form form {
    max-width: 50em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
}

.contact-form form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.contact-form form .input-box input,
.contact-form form textarea {
    width: 100%;
    padding: 1.5em;
    font-size: 10px;
    color: black;
    background: rgb(209, 205, 187);
    border-radius: .8rem;
    margin: 1rem 0; 
    resize: none;
}

footer {
    background-color: #987070;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.footer-links {
    margin-bottom: 20px;
}

.footer-links a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-contact p {
    margin-bottom: 10px;
    font-weight: bold;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

.footer-credits {
    margin-top: 20px;
    font-size: 14px;
}

.footer-credits a {
    color: #fff;
    text-decoration: none;
}

.footer-credits a:hover {
    text-decoration: underline;
}
